* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  line-height: 1.6;
  background-color: #e5e9ec;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Header */
header {
  /* background-color: #1f2937; */
  background-color: #47419c;
  color: #fff;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0 0.5rem 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 100px;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}

.navbar a {
  color: #fff;
  margin-left: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #3b82f6;
}

/* Hero Section */
.hero {
  color: #110989;
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.2rem;
  margin: 20px 0;
}

.cta-button {
  background: #3b82f6;
  color: white;
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.cta-button:hover {
  background: #130b85;
}

/* Footer */
footer {
  background-color: #47419c;
  color: #ddd;
  text-align: center;
  padding: 1.5rem 0;
  margin-top: 2rem;
}

footer .social a {
  color: #ddd;
  margin: 0 0.5rem;
  text-decoration: none;
}

footer .social a:hover {
  color: #3b82f6;
}

/* Responsive(For mobiles, tablets and desktops) */
@media (max-width: 600px) {
  header,
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  header .container {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  
  nav ul {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .hero h1 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .cta-btn {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .hero {
    padding: 4rem 1.5rem;
  }

  .hero h1 {
    font-size: 2.2rem;
  }

  .hero p {
    font-size: 1.1rem;
  }

  .cta-btn {
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
  }
}

@media (min-width: 1025px) {
  .hero h1 {
    font-size: 2.8rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .cta-btn {
    padding: 1rem 2rem;
    font-size: 1.1rem;
  }
}
